<div class="container main_container mt-5">
  <div class="header">
    <p class="calc_title">calc</p>
    <div class="container_theme-selector">
      <p class="ptheme mt-4">THEME</p>
      <div class="selector-container">
        <div class="positions-theme">
          <p class="pposition">1</p>
          <p class="pposition">2</p>
          <p class="pposition">3</p>
        </div>
        <div class="input-range">
          <div class="container-balls">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
          </div>       
        </div>
      </div>
    </div>
  </div>
</div>
